# import modules

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline

# Dataset 불러오기

In [3]:
X_df=pd.read_excel('C:/Users/Rstudio/Desktop/ESC/데이터 분석 세션/2020빅콘테스트 문제데이터(데이터분석분야-챔피언리그)/01_제공데이터/2020 빅콘테스트 데이터분석분야-챔피언리그_2019년 실적데이터.xlsx',header = 1)

In [4]:
X = X_df.copy()

In [5]:
X.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0

# 20200805 결측치 처리 과정

판매단가가 0인 상품 = 무형 상품군 제외

In [6]:
def NA_goods(df=X):
    df=df.loc[df['판매단가'] != 0,:]
    df = df.reset_index(drop=True)
    return df

# 20200807 UPDATE 결측치 처리 과정

매주 토요일  18:00~18:20은 정보방송시간으로 추정 제외(당사사정에 따라 ±20 편성 변경 있음)

In [7]:
t = ['월','화','수','목','금','토','일']
import datetime
r = datetime.datetime.today()
r

datetime.datetime(2020, 8, 7, 16, 23, 6, 962550)

In [8]:
def printDayOfTheWeek(year, month, day):
    dayOfTheWeek = ['월','화','수','목','금','토','일']
    return dayOfTheWeek[datetime.datetime(year,month,day).weekday()]

In [9]:
import time
day_list = []
for date in X.iloc[:,0]:
    date = str(date)
    year = int(date[:4])
    month = int(date[5:7])
    day = int(date[8:10])
    first = printDayOfTheWeek(year,month,day)
    second = date[11:16]
    day_list.append(first+second)

In [10]:
X["요일/시간"] = day_list

In [11]:
X.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,요일/시간
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,화06:00
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,화06:00
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,화06:20
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,화06:20
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,화06:40

In [12]:
for i in range(len(X)):
    time = X.iloc[i,8]
    if (time[0:3]=="토18" and int(time[4:])<20):
        X = X.drop(i)

In [13]:
len(X)

38309

In [15]:
for i in range(len(X)):
    time = X.iloc[i,8]
    if time[0:3]=="토18":
        print(time)

토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:50
토18:20
토18:40
토18:20
토18:50
토18:20
토18:40
토18:20
토18:50
토18:20
토18:40
토18:20
토18:40
토18:20
토18:50
토18:20
토18:40
토18:20
토18:40
토18:20
토18:30
토18:40
토18:50
토18:20
토18:50
토18:20
토18:30
토18:40
토18:50
토18:20
토18:40
토18:20
토18:40
토18:20
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:50
토18:20
토18:40
토18:20
토18:20
토18:20
토18:20
토18:20
토18:20
토18:40
토18:40
토18:40
토18:40
토18:40
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40
토18:20
토18:40

힘들게 코드를 짰으나 토요일 18:00~18:20에 해당하는 방송은 없었다.............................