# 데이터 읽기

In [1]:
import pandas as pd

In [10]:
import numpy as np

In [2]:
# 여러분의 폴더가 저장되어있는 위치 경로를 써 주세요
# 그리고 데이터파일(주최측에서 제공한) 의 이름을 Train set 으로 변셩해 주세요
# 한인욱 directory = 'C:/Users/goran/Desktop/Git_Hub/Project/20S_Bigcon'
# 김정현 directory = 'C:/Users/Coby/Desktop/20S_Bigcon/20S_Bigcon'
# 신예진 directory = 'C:/Users/Rstudio/Desktop/Bigcon2020/20S_Bigcon'
# 이규민 directory = 'C:/Statistics/20S_Bigcon'
# 최정욱 directory = 'C:/Users/lg/Desktop/Bigcon2020'
directory = 'C:/Users/goran/Desktop/Git_Hub/Project/20S_Bigcon/Analysis'

In [58]:
X_df=pd.read_excel(directory+'/X0819.xlsx')

In [60]:
X = X_df.copy() ; X

,Unnamed: 0,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,평균방송분,...,상품군power,CPI,CSI,RS,PrimeTime,남성상품,여성상품,무이자,일시불,유명기업/브랜드
0,0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000,10.0,...,26.41,0.8,97.5,139.3,0,1,0,0,0,0
1,1,2019-01-01 06:00:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000,10.0,...,26.41,0.8,97.5,139.3,0,0,1,0,0,0
2,2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000,10.0,...,26.41,0.8,97.5,139.3,0,1,0,0,0,0
3,3,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000,10.0,...,26.41,0.8,97.5,139.3,0,0,1,0,0,0
4,4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000,10.0,...,26.41,0.8,97.5,139.3,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35374,35374,2019-12-31 23:40:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000,5.0,...,19.40,0.7,100.5,138.0,0,0,0,0,1,1
35375,35375,2020-01-01 00:00:00,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000,5.0,...,19.40,1.5,104.2,131.7,0,0,0,1,0,1
35376,35376,2020-01-01 00:00:00,20.0,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000,5.0,...,19.40,1.5,104.2,131.7,0,0,0,0,1,1
35377,35377,2020-01-01 00:00:00,20.0,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000,5.0,...,19.40,1.5,104.2,131.7,0,0,0,1,0,1
35378,35378,2020-01-01 00:00:00,20.0,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000,5.0,...,19.40,1.5,104.2,131.7,0,0,0,0,1,1

In [61]:
X.drop(columns=['Unnamed: 0'],inplace=True)

In [62]:
# target data
y=X['취급액']

In [63]:
# X_train data
X.drop(columns = ['취급액'],inplace=True)

In [64]:
X.drop(columns = ['방송일시','마더코드','상품코드','상품명','년','월','일','시분','월일','시간열','정수노출(분)','요일/시간','날짜'],inplace = True)

In [65]:
X.columns

Index(['노출(분)', '상품군', '판매단가', '평균방송분', '겹치는수', '시각', '시청률평균', '점심', '저녁',
       '강수량(mm)', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)', '연예인', '월급날', '휴일',
       '상품군power', 'CPI', 'CSI', 'RS', 'PrimeTime', '남성상품', '여성상품', '무이자',
       '일시불', '유명기업/브랜드'],
      dtype='object')

# 더미화

In [66]:
X

,노출(분),상품군,판매단가,평균방송분,겹치는수,시각,시청률평균,점심,저녁,강수량(mm),...,상품군power,CPI,CSI,RS,PrimeTime,남성상품,여성상품,무이자,일시불,유명기업/브랜드
0,20.0,의류,39900,10.0,1,6.000000,0.002632,0,0,0.1,...,26.41,0.8,97.5,139.3,0,1,0,0,0,0
1,20.0,의류,39900,10.0,1,6.000000,0.002632,0,0,0.1,...,26.41,0.8,97.5,139.3,0,0,1,0,0,0
2,20.0,의류,39900,10.0,2,6.333333,0.002434,0,0,0.1,...,26.41,0.8,97.5,139.3,0,1,0,0,0,0
3,20.0,의류,39900,10.0,2,6.333333,0.002434,0,0,0.1,...,26.41,0.8,97.5,139.3,0,0,1,0,0,0
4,20.0,의류,39900,10.0,3,6.666667,0.003162,0,0,0.1,...,26.41,0.8,97.5,139.3,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35374,20.0,주방,148000,5.0,2,23.666666,0.004741,0,0,0.1,...,19.40,0.7,100.5,138.0,0,0,0,0,1,1
35375,20.0,주방,178000,5.0,3,24.000000,0.004069,0,0,0.0,...,19.40,1.5,104.2,131.7,0,0,0,1,0,1
35376,20.0,주방,168000,5.0,3,24.000000,0.004069,0,0,0.0,...,19.40,1.5,104.2,131.7,0,0,0,0,1,1
35377,20.0,주방,158000,5.0,3,24.000000,0.004069,0,0,0.0,...,19.40,1.5,104.2,131.7,0,0,0,1,0,1
35378,20.0,주방,148000,5.0,3,24.000000,0.004069,0,0,0.0,...,19.40,1.5,104.2,131.7,0,0,0,0,1,1

In [67]:
col=['노출(분)', '판매단가','평균방송분','겹치는수','시각','시청률평균','강수량(mm)','평균기온(℃)',
 '최저기온(℃)', '최고기온(℃)' ,'상품군power', 'CPI','CSI', 'RS']

In [68]:
df = X.copy()

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35379 entries, 0 to 35378
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   노출(분)      35379 non-null  float64
 1   상품군        35379 non-null  object
 2   판매단가       35379 non-null  int64
 3   평균방송분      35379 non-null  float64
 4   겹치는수       35379 non-null  int64
 5   시각         35379 non-null  float64
 6   시청률평균      35379 non-null  float64
 7   점심         35379 non-null  int64
 8   저녁         35379 non-null  int64
 9   강수량(mm)    35379 non-null  float64
 10  평균기온(℃)    35379 non-null  float64
 11  최저기온(℃)    35379 non-null  float64
 12  최고기온(℃)    35379 non-null  float64
 13  연예인        35379 non-null  int64
 14  월급날        35379 non-null  int64
 15  휴일         35379 non-null  int64
 16  상품군power   35379 non-null  float64
 17  CPI        35379 non-null  float64
 18  CSI        35379 non-null  float64
 19  RS         35379 non-null  float64
 20  PrimeTime  35379 non-null  int64
 21  남성상품       35379 non-null  int64
 22  여성상품       35379 non-null  int64
 23  무이자        35379 non-null  int64
 24  일시불        35379 non-null  int64
 25  유명기업/브랜드   35379 non-null  int64
dtypes: float64(12), int64(13), object(1)
memory usage: 7.0+ MB

In [70]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [71]:
k=scaler.fit_transform(X.loc[:,col])

In [72]:
p=pd.DataFrame(k,columns=col)

In [73]:
X.loc[:,col] = p

In [74]:
X

,노출(분),상품군,판매단가,평균방송분,겹치는수,시각,시청률평균,점심,저녁,강수량(mm),...,상품군power,CPI,CSI,RS,PrimeTime,남성상품,여성상품,무이자,일시불,유명기업/브랜드
0,-0.109679,의류,-0.555490,-0.208581,-1.154250,-1.826372,-1.804510,0,0,-0.347927,...,0.273575,1.117307,-0.314122,1.156173,0,1,0,0,0,0
1,-0.109679,의류,-0.555490,-0.208581,-1.154250,-1.826372,-1.804510,0,0,-0.347927,...,0.273575,1.117307,-0.314122,1.156173,0,0,1,0,0,0
2,-0.109679,의류,-0.555490,-0.208581,-0.014815,-1.768220,-1.976626,0,0,-0.347927,...,0.273575,1.117307,-0.314122,1.156173,0,1,0,0,0,0
3,-0.109679,의류,-0.555490,-0.208581,-0.014815,-1.768220,-1.976626,0,0,-0.347927,...,0.273575,1.117307,-0.314122,1.156173,0,0,1,0,0,0
4,-0.109679,의류,-0.555490,-0.208581,1.124620,-1.710068,-1.343825,0,0,-0.347927,...,0.273575,1.117307,-0.314122,1.156173,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35374,-0.109679,주방,-0.382917,-0.922281,-0.014815,1.255686,0.029393,0,0,-0.347927,...,-0.232653,0.836731,0.933380,0.994927,0,0,0,0,1,1
35375,-0.109679,주방,-0.335024,-0.922281,1.124620,1.313839,-0.554547,0,0,-0.358480,...,-0.232653,3.081337,2.471967,0.213502,0,0,0,1,0,1
35376,-0.109679,주방,-0.350988,-0.922281,1.124620,1.313839,-0.554547,0,0,-0.358480,...,-0.232653,3.081337,2.471967,0.213502,0,0,0,0,1,1
35377,-0.109679,주방,-0.366952,-0.922281,1.124620,1.313839,-0.554547,0,0,-0.358480,...,-0.232653,3.081337,2.471967,0.213502,0,0,0,1,0,1
35378,-0.109679,주방,-0.382917,-0.922281,1.124620,1.313839,-0.554547,0,0,-0.358480,...,-0.232653,3.081337,2.471967,0.213502,0,0,0,0,1,1

In [75]:
X = pd.get_dummies(X,columns=['상품군'])

In [76]:
X=pd.get_dummies(X,columns=['PrimeTime']) ;X

,노출(분),판매단가,평균방송분,겹치는수,시각,시청률평균,점심,저녁,강수량(mm),평균기온(℃),...,상품군_가전,상품군_건강기능,상품군_농수축,상품군_생활용품,상품군_속옷,상품군_의류,상품군_이미용,상품군_잡화,상품군_주방,상품군_침구
0,-0.109679,-0.555490,-0.208581,-1.154250,-1.826372,-1.804510,0,0,-0.347927,-1.760509,...,0,0,0,0,0,1,0,0,0,0
1,-0.109679,-0.555490,-0.208581,-1.154250,-1.826372,-1.804510,0,0,-0.347927,-1.760509,...,0,0,0,0,0,1,0,0,0,0
2,-0.109679,-0.555490,-0.208581,-0.014815,-1.768220,-1.976626,0,0,-0.347927,-1.760509,...,0,0,0,0,0,1,0,0,0,0
3,-0.109679,-0.555490,-0.208581,-0.014815,-1.768220,-1.976626,0,0,-0.347927,-1.760509,...,0,0,0,0,0,1,0,0,0,0
4,-0.109679,-0.555490,-0.208581,1.124620,-1.710068,-1.343825,0,0,-0.347927,-1.760509,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35374,-0.109679,-0.382917,-0.922281,-0.014815,1.255686,0.029393,0,0,-0.347927,-1.948998,...,0,0,0,0,0,0,0,0,1,0
35375,-0.109679,-0.335024,-0.922281,1.124620,1.313839,-0.554547,0,0,-0.358480,-1.073076,...,0,0,0,0,0,0,0,0,1,0
35376,-0.109679,-0.350988,-0.922281,1.124620,1.313839,-0.554547,0,0,-0.358480,-1.073076,...,0,0,0,0,0,0,0,0,1,0
35377,-0.109679,-0.366952,-0.922281,1.124620,1.313839,-0.554547,0,0,-0.358480,-1.073076,...,0,0,0,0,0,0,0,0,1,0
35378,-0.109679,-0.382917,-0.922281,1.124620,1.313839,-0.554547,0,0,-0.358480,-1.073076,...,0,0,0,0,0,0,0,0,1,0

In [77]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.datasets import make_regression
import matplotlib as mpl
import matplotlib.pyplot as plt
from sklearn import metrics # 모델평가시 이용

In [78]:
# dataset train/test set 으로 나누기
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

# Multi Linear Regression

## 모델 세우기

In [79]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [80]:
def MAPE(y_true, y_pred): 
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

## 모델 평가

In [81]:
from sklearn import metrics
y_pred = model.predict(X_test)

# MAPE(y_test,y_pred)
print ("Mape :", MAPE(y_test,y_pred))

Mape : 87.26772039760257

# Polynomial regression

변수가 적다면, 데이터 분석시 부정확 할 수 있다. 그래서 polynomial 로 변수의 갯수를 늘려서 예측도를 높혀보자

## 데이터 전처리

다항회귀는, 데이터를 돌리기 전, x1 x2 -> x1^2 , x1x2, x2^2 처럼 데이터를 바꾸어야 한다.를 해주어야한다.

In [82]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures()  
# degree : 몇 차수까진 늘릴지 결정
#        : (default)=2
# interaction_only : only 자기 자신의 거듭제곱만 넣을지 말지. (ex x1 x2 -> x1^2 , ^2)
#                  : (default)=False (interaction 항 넣기) (EX x1 x2 -> x1^2 , x1x2, x2^2)
X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.fit_transform(X_test)

## 모델 세우기

In [83]:
model = LinearRegression()
model.fit(X_train_poly, y_train)

LinearRegression()

## 모델 평가

In [85]:
from sklearn import metrics
y_pred = model.predict(X_test_poly)
print ("MAPE :", MAPE(y_test,y_pred))

MAPE : 74.62339316849305

# Ridge regression

$w = \text{arg}\min_w \left( \sum_{i=1}^N e_i^2 + \lambda \sum_{j=1}^M w_j^2 \right) $

## 모델 세우기

In [86]:
from sklearn.linear_model import RidgeCV
from sklearn.linear_model import Ridge

para_range = np.logspace(-3, 3, num=50) # 10^-3 ~ 10^3 
model = RidgeCV(alphas = para_range , cv=5)
model.fit(X_train, y_train) ;

## 모델 평가

In [87]:
from sklearn import metrics

predicted = model.predict(X_test) 

print ("MAPE :",MAPE(y_test, predicted))

MAPE : 87.15052149689576

# ElasticNet Regression

In [88]:
from sklearn.linear_model import ElasticNetCV
from sklearn.linear_model import ElasticNet

## 모델 세우기

In [89]:
ElasticCV = ElasticNetCV(l1_ratio =[.1, .5, .7, .9, .95, .99,1], cv=5, random_state=0)
# l1 Note that a good choice of list of values for l1_ratio is often to put more values close to 1 (i.e. Lasso) and less close to 0 (i.e. Ridge), as in  [.1, .5, .7, .9, .95, .99, 1] 

ElasticCV.fit(X_train, y_train)
print(ElasticCV.alpha_) # alpha 값
print(ElasticCV.l1_ratio_) #l1 ratio 1 이면 사실상 lasso 이다... 1 이 나오면 그냥 lasso 로 하라는 의미

11524.704161129726
1.0

## 모델 평가

In [90]:
from sklearn import metrics

predicted = ElasticCV.predict(X_test) 

print ("MAPE :",MAPE(y_test, predicted))

MAPE : 87.21893864351632

# lasso regression

## 모델 세우기

In [91]:
from sklearn.linear_model import LassoCV
from sklearn.linear_model import Lasso
alphas = np.logspace(-3, 3, num=50) # 10^-3 ~ 10^3 
lassocv = LassoCV(alphas = alphas, cv=5,tol=1)
# 위 ridge 때와 동일
lassocv.fit(X_train, y_train) ;

## 모델 평가

In [92]:
from sklearn import metrics
predicted = lassocv.predict(X_test) 

print ("MAPE :", MAPE(y_test, predicted))

MAPE : 92.11112679098062

# K-Neighbors Regression

## 모델 세우기

In [93]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import GridSearchCV
model = KNeighborsRegressor() 
param_grid ={'n_neighbors' : np.arange(1,2)}
model = GridSearchCV(model,param_grid,cv=2)
model.fit(X_train,y_train)

GridSearchCV(cv=2, estimator=KNeighborsRegressor(),
             param_grid={'n_neighbors': array([1])})

In [94]:
print(model.best_params_) # 우리가 추정한 best parameter
print(model.best_score_) # 우리가 지정한 scoring 에 기반한 제일 좋은 score

{'n_neighbors': 1}
0.2972023080036589

## 모델 평가

In [96]:
y_pred = model.predict(X_test)
print ("MSE :",MAPE(y_test, y_pred))

MSE : 92.30884472982184

#  DecisionTree Regression

## 모델 세우기

In [100]:
# hyper parameter 추정하기
from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor() 
# scoring 은 default 이므로 model 의 자체 scoring 으로 들어간다. 
model.fit(X_train,y_train)

DecisionTreeRegressor()

In [101]:
# 위에서 구한 최상의 parameter 로 추정하기
model = DecisionTreeRegressor()
model.fit(X_train, y_train)

DecisionTreeRegressor()

## 모델 평가

In [102]:
y_pred = model.predict(X_test)
print ("MAPE :",MAPE(y_test, y_pred))

MAPE : 67.16923996266677

# RandomForest Regressoion

## 모델 세우기

In [103]:
from sklearn.ensemble import RandomForestRegressor
model =  RandomForestRegressor()
model.fit(X_train,y_train)

RandomForestRegressor()

## 모델 평가

In [105]:
y_pred = model.predict(X_test)
print ("MAPE :",MAPE(y_test, y_pred))

MAPE : 58.49307621200626

# Gradient Boosting resgressoion

## 모델 세우기

In [106]:
from sklearn.ensemble import GradientBoostingRegressor
model = GradientBoostingRegressor()
model.fit(X_train, y_train)

GradientBoostingRegressor()

## 모델 평가

In [108]:
y_pred = model.predict(X_test)
print ("MAPE :", MAPE(y_test, y_pred))

MAPE : 71.84197606224626

# AdaBoosting Regression

## 모델 세우기

In [109]:
from sklearn.ensemble import AdaBoostRegressor
model =AdaBoostRegressor()
model.fit(X_train, y_train)

AdaBoostRegressor()

## 모델 평가

In [110]:
y_pred = model.predict(X_test)
print ("MSE :", MAPE(y_test, y_pred))

MSE : 177.61211535162164

 # xgboost Regression

## 모델 세우기

In [111]:
import xgboost as xgb
from xgboost.sklearn import XGBRegressor
model = XGBRegressor()
model.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

## 모델 평가

In [112]:
from sklearn import metrics
y_pred = model.predict(X_test)
print ("MAPE :", MAPE(y_test, y_pred))

MAPE : 53.48165044418245

# SVR regression

## 모델 세우기

In [117]:
from sklearn.svm import SVR
from sklearn.model_selection import GridSearchCV 
model = SVR()
# fitting the model for grid search 
model.fit(X_train, y_train)

SVR()

## 모델 평가

In [119]:
from sklearn import metrics
y_pred = model.predict(X_test)
print ("MSE :", MAPE(y_test, y_pred))

MSE : 146.33650633682362

In [ ]:
# 쓰레기다~